.item {
  margin: 1rem 0;
}

.information {
  padding: 0 1.5rem;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

/* title{
  color: red;
}
address{
  color: red;
} */

.link {
  display: block;
  margin: 10px 0px;
  font-size: 20px;
  color: rgb(52, 29, 255);
  text-decoration: underline rgb(52, 29, 255);
  cursor: pointer;
}

.link-with-massage {
  margin-left: 10px;
  color: rgb(41, 199, 1);
  text-decoration: 0px 0px 3px #000;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.actions .button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}

.input-link {
  width: 440px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 0px 2px 1px #969696;
  text-align: center;
  padding: 5px;
  max-width: 80%;
}

@media screen and (max-width: 600px) {
  .image {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .actions {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 25px;
  }
  .actions .button {
    margin: 8px 0px;
    font-size: 18px;
  }
  .actions .button:last-child {
    margin-bottom: 0;
  }
}
