.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.map {
  transform: translateX(7px);
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
  resize: none;
}
.control input.short-input {
  width: 160px;
}

.textarea {
  resize: none;
  height: 100px;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--main-bg-color);
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.helping {
  margin-top: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.exclamation-mark {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
